*.iml
.gradle
.idea/
.vscode/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
app/build/
prdownloader/build/
jni/obj/
migration_backups/
*.apk
*.aab
*.zip
*.log
*_logcat.txt
*_log.txt
*_pid.txt
*_report.txt
xyron_*.png
